html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -345px;
    margin-left: -170px;
    width: 340px;
    height: 690px;
  
    cursor: url("data:image/gif;base64,R0lGODlhEAAQAJECAAAAAP///////wAAACH5BAEAAAIALAAAAAAQABAAQAI3lC8AeBDvgosQxQtne7yvLWGStVBelXBKqDJpNzLKq3xWBlU2nUs4C/O8cCvU0EfZGUwt19FYAAA7"), ew-resize;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.side-1 {
    z-index: 9;
    width: 340px;
    height: 690px;
    background: url(../images/t1.png) no-repeat center;
    background-size: 100% 100%;
}

.side-2 {
    width: 32px;
    height: 690px;
    background: url(../images/t2.png) no-repeat center;
    background-size: 100% 90%;
    transform: translateX(308px) rotateY(-90deg);
    transform-origin: 100% 0;
}

.side-3 {
    width: 32px;
    height: 690px;
    background: url(../images/t3.png) no-repeat center;
    background-size: 100% 90%;
    transform: rotateY(90deg);
    transform-origin: 0 0;
}

.side-4 {
    width: 340px;
    height: 32px;
    background: url(../images/t4.png) no-repeat center;
    background-size: 89% 100%;
    transform: translateY(654px) rotateX(90deg);
    transform-origin: 0 100%;
}

.side-5 {
    width: 340px;
    height: 32px;
    background: url(../images/t5.png) no-repeat center;
    background-size: 80% 100%;
    transform: rotateX(-90deg);
    transform-origin: 0 0;
}

.side-6 {
    width: 340px;
    height: 691px;
    background: url(../images/t6.png) no-repeat center;
    background-size: 100% 100%;
    transform: translateZ(-32px);
}

.radius {
    width: 32px;
    height: 6px;
}

.side-2 .top .radius {
    background: url(../images/side2_radius_top.png);
}

.side-2 .bottom .radius {
    background: url(../images/side2_radius_bottom.png);
}

.side-3 .top .radius {
    background: url(../images/side3_radius_top.png);
}

.side-3 .bottom .radius {
    background: url(../images/side3_radius_bottom.png);
}

.top {
    transform-style: preserve-3d;
}

.center {
    width: 32px;
    height: 480px;
}

.bottom {
    transform: rotateX(180deg) rotateY(180deg);
    transform-style: preserve-3d;
}

.radius:nth-child(1) {
    height: 6px;
    transform: translateZ(31px) translateY(-2.5px) rotateX(100deg);
}

.radius:nth-child(2) {
    transform: translateZ(26px) translateY(-7px) rotateX(-63deg);
}

.radius:nth-child(3) {
    transform: translateZ(21px) translateY(-11px) rotateX(-63deg);
}

.radius:nth-child(4) {
    transform: translateZ(16px) translateY(-14.5px) rotateX(-63deg);
}

.radius:nth-child(5) {
    transform: translateZ(11px) translateY(-17.5px) rotateX(-46deg);
}

.radius:nth-child(6) {
    transform: translateZ(7px) translateY(-19.5px) rotateX(-35deg);
}

.radius:nth-child(7) {
    transform: translateZ(4.5px) translateY(-20.5px) rotateX(-24deg);
}

.radius:nth-child(8) {
    transform: translateZ(2.5px) translateY(-21.5px) rotateX(-10deg);
}

.radius:nth-child(9) {
    transform: translateZ(1px) translateY(-22px) rotateX(-3deg);
}

.radius:nth-child(10) {
    height: 50px;
    transform: translateY(-23px);
}
