<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UIControl</title>
    <link rel="shortcut icon" href="../../Assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="./Assets/css/uicontrol.css">
</head>
<body>
    <a href="#" class="ui-button">button</a>
    <button type="button" class="ui-button ui-button-primary">primary</button>
    <button type="button" class="ui-button ui-button-success">success</button>
    <button type="button" class="ui-button ui-button-failure">failure</button>
    <button type="button" class="ui-button ui-button-warning">warning</button>
    <button type="button" class="ui-button ui-button-info">info</button>
    <a href="#" class="ui-button ui-button-disabled">button</a>
    <button type="button" class="ui-button ui-button-primary ui-button-transparent">primary</button>
    <button type="button" class="ui-button ui-button-success ui-button-transparent">success</button>
    <button type="button" class="ui-button ui-button-failure ui-button-transparent">failure</button>
    <button type="button" class="ui-button ui-button-warning ui-button-transparent">warning</button>
    <button type="button" class="ui-button ui-button-info ui-button-transparent">info</button>
    <button type="button" class="ui-button ui-button-lg">button</button>
    <button type="button" class="ui-button ui-button-primary ui-button-lg button-box ">button</button>
    <button type="button" class="ui-button ui-button-success ui-button-lg">button</button>
    <button type="button" class="ui-button ui-button-failure ui-button-lg">button</button>
    <button type="button" class="ui-button ui-button-warning ui-button-lg">button</button>
</body>
</html>