<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UIControl | 不需要写 CSS 就可以使用的组件库</title>
    <link rel="shortcut icon" href="../../Assets/images/icon/favicon.ico">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="./Assets/css/uicontrol.css">
</head>
<body>
    <a href="#" class="ui-button">Default</a>
    <button type="button" class="ui-button ui-button-primary">Primary</button>
    <button type="button" class="ui-button ui-button-success">Success</button>
    <button type="button" class="ui-button ui-button-failure">Failure</button>
    <button type="button" class="ui-button ui-button-warning">Warning</button>
    <button type="button" class="ui-button ui-button-info">Info</button>
    <br>
    <button type="button" class="ui-button ui-button-disabled" disabled="disabled">Default</button>
    <button type="button" class="ui-button ui-button-primary ui-button-transparent">Primary</button>
    <button type="button" class="ui-button ui-button-success ui-button-transparent">Success</button>
    <button type="button" class="ui-button ui-button-failure ui-button-transparent">Failure</button>
    <button type="button" class="ui-button ui-button-warning ui-button-transparent">Warning</button>
    <button type="button" class="ui-button ui-button-info ui-button-transparent">Info</button>
    <br>
    <button type="button" class="ui-button ui-button-square"><i class="fa fa-windows"></i></button>
    <button type="button" class="ui-button ui-button-square ui-button-box"><i class="fa fa-qq"></i></button>
    <button type="button" class="ui-button ui-button-square ui-button-round"><i class="fa fa-steam"></i></button>
    <button type="button" class="ui-button ui-button-square ui-button-circle"><i class="fa fa-weibo"></i></button>
    <button type="button" class="ui-button ui-button-small"><i class="fa fa-weixin"></i></button>
    <button type="button" class="ui-button ui-button-small ui-button-box"><i class="fa fa-flag"></i></button>
    <button type="button" class="ui-button ui-button-small ui-button-round"><i class="fa fa-vk"></i></button>
    <br>
    <button type="button" class="ui-button ui-button-lg">Default</button>
    <button type="button" class="ui-button ui-button-primary ui-button-lg">Primary</button>
    <button type="button" class="ui-button ui-button-success ui-button-lg ui-button-box">Success</button>
    <button type="button" class="ui-button ui-button-failure ui-button-lg ui-button-round">Failure</button>
    <button type="button" class="ui-button ui-button-warning ui-button-lg">Warning</button>
    <button type="button" class="ui-button ui-button-info ui-button-lg">Info</button>
</body>
</html>