<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UIControl</title>
    <link rel="shortcut icon" href="../../Assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="./Assets/css/uicontrol.css">
</head>
<body>
    <fieldset>
        <legend>Button</legend>
    </fieldset>
    <!-- <fieldset>
        <legend>Switch</legend>
    </fieldset>
    <fieldset>
        <legend>Radio</legend>
    </fieldset>
    <fieldset>
        <legend>Input</legend>
    </fieldset>
    <fieldset>
        <legend>Form</legend>
    </fieldset>
    <fieldset>
        <legend>Loading</legend>
    </fieldset> -->
</body>
</html>