/*========== basic style =========*/
body {
    text-align: center;
    margin: 10px auto 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.emoji {
    width: 120px;
    height: 120px;
    margin: 15px;
    background: #FFDA6A;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.emoji:after {
    position: absolute;
    bottom: -40px;
    font-size: 18px;
    width: 60px;
    left: calc(50% - 30px);
    color: #8A8A8A;
}
div[class^='emoji-']{
    position: absolute
}
div[class^='emoji-']::before,div[class^='emoji-']::after{
    position: absolute;
    content: '';
}

/*========= emoji style by Like  ===========*/
.emoji-like {
    background: #548DFF;
}
.emoji-like:after{
    content: "Like";
}
.emoji-like .emoji-hand{
    left: 25px;
    bottom: 30px;
    width: 20px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    z-index: 0;
    animation: hands-up 2s linear infinite;
}
.emoji-like .emoji-hand:before{
    left: 25px;
    bottom: 5px;
    width:40px;
    height:10px ;
    background: inherit;
    border-radius:2px 10px 10px 2px ;
    box-shadow: 1px -9px 0 1px #FFFFFF,
                2px -19px 0 2px  #FFFFFF,
                3px -29px 0 3px #FFFFFF ;
}

.emoji-like .emoji-thumb {
    border-bottom: 20px solid #FFFFFF;
    border-left: 20px solid transparent;
    top: -25px;
    right: -25px;
    z-index: 2;
    transform: rotate(5deg);
    transform-origin: 0% 100%;
    animation: thumbs-up 5s linear infinite;
}
.emoji-like .emoji-thumb:before {
    left: -11px;
    top:-7px;
    width: 10px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 50% 50% 0 0;
    transform: rotate(-15deg);
    box-shadow: -1px 4px 0 -1px #FFFFFF;
}
@keyframes hands-up {
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg) translateY(-10px);
    }
    75%, 100% {
        transform: rotate(0deg);
    }
}
@keyframes thumbs-up {
    25% {
        transform: rotate(20deg);
    }
    50%, 100% {
        transform: rotate(5deg);
    }
}

/*========= emoji style by Love  ===========*/
.emoji-love{
    background: #F55064;
}
.emoji-love:after{
    content: "Love";
}
.emoji-love > div.emoji-heart{
    top: calc(50% - 35px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    animation: heart-beat 2s linear infinite;
}
.emoji-love > div.emoji-heart::before,.emoji-love > div.emoji-heart::after{
    top: calc(50% - 30px);
    left: calc(50% - 20px);
    width: 40px;
    height: 65px;
    background: #FFF;
    border-radius: 20px 20px 0 0;
}
.emoji-love > div.emoji-heart::before{
    transform: translate(20px) rotate(-45deg);
    transform-origin: 0 100%;
}
.emoji-love > div.emoji-heart::after{
    transform: translate(-20px) rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes heart-beat {
    20%{
        transform: scale(1.1);
    }
    70%{
        transform: scale(0.5);
    }
}