/*========== basic style =========*/
body {
    text-align: center;
    margin: 10px auto 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.emoji {
    width: 120px;
    height: 120px;
    margin: 15px;
    background: #FFDA6A;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.emoji:after {
    position: absolute;
    bottom: -40px;
    font-size: 18px;
    width: 60px;
    left: calc(50% - 30px);
    color: #8A8A8A;
}
.emoji-face{
    width: inherit;
    height: inherit;
}
div[class^='emoji-']{
    position: absolute
}
div[class^='emoji-']::before,div[class^='emoji-']::after{
    position: absolute;
    content: '';
}

/*========= emoji style by Like  ===========*/
.emoji-like {
    background: #548DFF;
}
.emoji-like:after{
    content: "Like";
}
.emoji-like .emoji-hand{
    left: 25px;
    bottom: 30px;
    width: 20px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    z-index: 0;
    animation: hands-up 2s linear infinite;
}
.emoji-like .emoji-hand:before{
    left: 25px;
    bottom: 5px;
    width:40px;
    height:10px ;
    background: inherit;
    border-radius:2px 10px 10px 2px ;
    box-shadow: 1px -9px 0 1px #FFFFFF,
                2px -19px 0 2px  #FFFFFF,
                3px -29px 0 3px #FFFFFF ;
}

.emoji-like .emoji-thumb {
    border-bottom: 20px solid #FFFFFF;
    border-left: 20px solid transparent;
    top: -25px;
    right: -25px;
    z-index: 2;
    transform: rotate(5deg);
    transform-origin: 0% 100%;
    animation: thumbs-up 5s linear infinite;
}
.emoji-like .emoji-thumb:before {
    left: -11px;
    top:-7px;
    width: 10px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 50% 50% 0 0;
    transform: rotate(-15deg);
    box-shadow: -1px 4px 0 -1px #FFFFFF;
}
@keyframes hands-up {
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg) translateY(-10px);
    }
    75%, 100% {
        transform: rotate(0deg);
    }
}
@keyframes thumbs-up {
    25% {
        transform: rotate(20deg);
    }
    50%, 100% {
        transform: rotate(5deg);
    }
}

/*========= emoji style by Love  ===========*/
.emoji-love{
    background: #F55064;
}
.emoji-love:after{
    content: "Love";
}
.emoji-love > div.emoji-heart{
    top: calc(50% - 35px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    animation: heart-beat 2s linear infinite;
}
.emoji-love > div.emoji-heart::before,.emoji-love > div.emoji-heart::after{
    top: calc(50% - 30px);
    left: calc(50% - 20px);
    width: 40px;
    height: 65px;
    background: #FFF;
    border-radius: 20px 20px 0 0;
}
.emoji-love > div.emoji-heart::before{
    transform: translate(20px) rotate(-45deg);
    transform-origin: 0 100%;
}
.emoji-love > div.emoji-heart::after{
    transform: translate(-20px) rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes heart-beat {
    20%{
        transform: scale(1.1);
    }
    70%{
        transform: scale(0.5);
    }
}

/*========= emoji style by Haha  ===========*/
.emoji-haha:after{
    content: "Haha";
}
.emoji-haha > div.emoji-face{
    animation: haha-face 2s linear infinite;
}
.emoji-haha div.emoji-eyes{
    width: 26px;
    height: 6px;
    border-radius: 2px;
    left: calc(50% - 13px);
    top: 35px;
    transform: rotate(20deg);
    background: transparent;
    box-shadow: -25px 5px 0 0 #000,
                 25px -5px 0 0 #000;
}
.emoji-haha div.emoji-eyes:after {
    left: 0;
    top: 0;
    width: 26px;
    height: 6px;
    border-radius: 2px;
    transform: rotate(-40deg);
    background: transparent;
    box-shadow: -25px -5px 0 0 #000,
                 25px 5px 0 0 #000; 
}
.emoji-haha div.emoji-mouth{
    width: 80px;
    height: 40px;
    top: 50%;
    left: calc(50% - 40px);
    background: #000;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
    z-index: 1;
    animation: haha-mouth 2s linear infinite;
}
.emoji-haha div.emoji-tongue{
    width: 70px;
    height: 30px;
    background: #F55064;
    border-radius: 50%;
}
@keyframes haha-face{
    10%{ transform: translateY(25px); }
    20%{ transform: translateY(15px); }
    30%{ transform: translateY(25px); }
    40%{ transform: translateY(15px); }
    50%{ transform: translateY(25px); }
    60%{ transform: translateY(0); }
    70%{ transform: translateY(-10px); }
    80%{ transform: translateY(0); }
    90%{ transform: translateY(-10px); }
}
@keyframes haha-mouth {
    10% {
        transform: scale(0.6);
        top: 45%;
    }
    20% {
        transform: scale(0.8);
        top: 45%;
    }
    30% {
        transform: scale(0.6);
        top: 45%;
    }
    40% {
        transform: scale(0.8);
        top: 45%;
    }
    50% {
        transform: scale(0.6);
        top: 45%;
    }
    60% {
        transform: scale(1);
        top: 50%;
    }
    70% {
        transform: scale(1.2);
        top: 50%;
    }
    80% {
        transform: scale(1);
        top: 50%;
    }
    90% {
        transform: scale(1.1);
        top: 50%;
    }
}


/*============= emoji style by emoji-se ============*/
.emoji-se:after{
    content: "Se";
}
/*============= emoji style by emoji-badSmail ============*/
.emoji-badSmail::after{
    content: 'Bad Smail';
    width: 127px;
    text-align: center;
    left:0;
}

