<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Single Page Switch（单页面切换）</title>
    <link rel="shortcut icon" href="../../assets/images/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="wrap">
        <ul id="menu">
            <li><a href="#p1" class="icon fa fa-bolt"></a></li>
            <li><a href="#p2" class="icon fa fa-keyboard-o"></a></li>
            <li><a href="#p3" class="icon fa fa-rocket"></a></li>
            <li><a href="#p4" class="icon fa fa-dribbble"></a></li>
            <li><a href="#p2" class="icon fa fa-plus-circle"></a></li>
        </ul>
        <div class="page" id="p1">p1</div>
        <div class="page" id="p2">p2</div>
        <div class="page" id="p3">p3</div>
        <div class="page" id="p4">p4</div>
        <div class="page" id="p5">p5</div>
    </div>
</body>

</html>