<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../assets/images/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Picture Cut</title>
</head>

<body>
    <input type="file" name="file" id="post_file">
    <button id="save_button">SAVE</button>
    <div id="label">
        <canvas id="get_image"></canvas>
        <p>
            <canvas id="cover_box"></canvas>
            <canvas id="edit_pic"></canvas>
        </p>
    </div>
    <p>
        <span id="show_edit"></span>
        <span id="show_pic">
            <img src="">
        </span>
    </p>
</body>

</html>