body{background: #ccc;}
canvas{
    cursor: pointer;
    display: block;
    margin: 10px auto;
    padding: 0;
    border: solid 1px #DDDDDD;
    background: #ffffff;
    -webkit-box-shadow: 7px 7px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 8px rgba(0,0,0,0.5);
    box-shadow: 7px 7px 8px rgba(0,0,0,0.5);
}
.color-bar{
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
}
.color-bar > ul{
    padding: 0;
    margin: 0;
    font-size: 0;
    letter-spacing: 0;
    -webkit-user-select: none;
    -moz-user-focus: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.color-bar > ul li{
    cursor: pointer;
    display: inline-block;
    *display: inline;
    font-size: 16px;
    color: transparent;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: solid 2px transparent;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.color-bar > ul li:nth-child(1){
    border-radius: 5px 0 0 5px;
    background: #000;
}
.color-bar > ul li:nth-child(2){
    background: #ef5b9c;
}
.color-bar > ul li:nth-child(3){
    background: #ef4136;
}
.color-bar > ul li:nth-child(4){
    background: #f15a22;
}
.color-bar > ul li:nth-child(5){
    background: #228fbd;
}
.color-bar > ul li:nth-child(6){
    background: #76becc;
}
.color-bar > ul li:nth-child(7){
    background: #6950a1;
}
.color-bar > ul li:last-child{
    border-radius: 0 5px 5px 0;
    width: 300px;
    font-size: 16px;
    color: #ccc;
}
.color-bar > ul li.active{
    border:solid 2px #fff;
}