/*================== Basic ==================*/
*{margin:0; padding: 0;}
html {
	height: 100%;
	background: #3023ae;
	background: -moz-linear-gradient(-45deg,  #3023ae 0%, #c86dd7 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3023ae), color-stop(100%,#c86dd7));
	background: -webkit-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%);
	background: -o-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%);
	background: -ms-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%);
	background: linear-gradient(135deg,  #3023ae 0%,#c86dd7 100%);
	background-attachment: fixed;
}
body {
	font-family: "Open Sans";
	font-weight: 300;
}
.container {
	background: transparent;
	list-style: none;
	padding: 0;
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
	box-shadow:      0px 0px 4px 0px rgba(0,0,0,0.37);
}
.container::after{
	content: '';
	height: 0;
	display: block;
	clear: both;
}
.container section{
	width: 50%;
	height: 300px;
	line-height: 300px;
	position: relative;
	text-align: center;
	float: left;
	cursor: pointer;
}
.container section > div.menu{
	height: 130px;
	width: 130px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:auto;
}
.container section > div.menu i{
	display:block;
	width:100px;
	height:8px;
	background: #fff;
	border-radius: 5px;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
}
.container section > div.menu i:first-of-type{
	top: -30px;
}
.container section > div.menu i:last-of-type{
	top: 30px;
}
/*================== 设置每个 section 的背景颜色 ==================*/
.container section:nth-of-type(1) {
	background-color: #1ABC9C;
}
.container section:nth-of-type(2) {
	background-color: #34495E;
}
.container section:nth-of-type(3) {
	background-color: #F39C12;
}
.container section:nth-of-type(4) {
	background-color: #2E64FF;
}
.container section:nth-of-type(5) {
	background-color: #F2276C;
}
.container section:nth-of-type(6) {
	background-color: #A3CF62;
}

/*================== demo1 样式 ==================*/
#demo1.open i:nth-child(1){
    animation: demo1-1-open 0.6s ease-out forwards;
}
#demo1.open i:nth-child(2){
    animation: demo1-2-open 0.6s linear forwards;
}
#demo1.open i:nth-child(3){
    animation: demo1-3-open 0.6s linear forwards;
}
@keyframes demo1-1-open{
	0%  { width: 100px; }
	40%	{ width:8px; transform: translateX(50px); }
	75%, 80% { width: 8px; transform: translate(35px, -50px); animation-timing-function: cubic-bezier(1,0,0,0); }
	100% {width: 8px; transform: translate(35px, 45px); }
}
@keyframes demo1-2-open{
    80%  { transform: translate(0, 0); }
    100% { transform-origin: 50% 50%; transform: rotate(40deg); }
}
@keyframes demo1-3-open{
    80%  { transform: translate(0, 0); }
    100% { transform-origin: 50% 50%; transform: translate(0,-18px) rotate(-40deg); }
}
#demo1.close i:nth-child(1){
	width: 8px;
    transform: translate(0, 45px);
    animation: demo1-1-close 0.6s ease-out forwards;
}
#demo1.close i:nth-child(2){
	transform-origin: 50% 50%; transform: rotate(40deg);
	animation: demo1-2-close .6s ease-out forwards;
}
#demo1.close i:nth-child(3){
	transform-origin: 50% 50%; transform: translate(0,-18px) rotate(-40deg);
	animation: demo1-3-close .6s ease-out forwards;
}
@keyframes demo1-1-close {
    0%, 70% { width: 0; }
    100%	{ width: 100px; transform: translate(0, 0); }
}
@keyframes demo1-2-close {
    0%   { width: 100px;}
    20%  { width: 8px; transform: translate(0, 0px) rotate(40deg); }
    40%  { width: 0px;}
    65%  { transform: translate(0, -70px); animation-timing-function: cubic-bezier(0,1,1,1); }
    80%  { width: 0px; }
    100% { width: 100px; transform: translate(0, 0px); }
}
@keyframes demo1-3-close {
    0%   { width: 100px;}
    20%  { width: 8px; transform: translate(0, 0px) rotate(40deg); }
    40%  { width: 0px;}
    65%  { transform: translate(0, -70px); animation-timing-function: cubic-bezier(0,1,1,1); }
    80%  { width: 0px; }
    100% { width: 100px; transform: translate(0, 0px); }
}

/*================== demo2 样式 ==================*/
#demo2.open i:nth-child(1){
    animation: demo2-1-open 0.6s ease-out forwards;
}
#demo2.open i:nth-child(2){
    animation: demo2-2-open 0.3s linear forwards;
}
#demo2.open i:nth-child(3){
	animation: demo2-3-open 0.6s linear forwards;
}
@keyframes demo2-1-open{
	80%  { transform: translate(0, 0); }
    100% { transform-origin: 0 0; transform: rotate(40deg) translate(2px,-23px); }
}
@keyframes demo2-2-open{
	0%  { width: 100px; }
	100%	{ width:8px; transform: translateX(50px); opacity: 0; }
}
@keyframes demo2-3-open{
	80%  { transform: translate(0, 0); }
    100% { transform-origin: 0 0; transform: rotate(-40deg) translate(-4px,19px); }
}
#demo2.close i:nth-child(1){
    animation: demo2-1-close 0.6s ease-out forwards;
}
#demo2.close i:nth-child(2){
    animation: demo2-2-close 0.4s ease-out forwards;
}
#demo2.close i:nth-child(3){
	animation: demo2-3-close 0.6s linear forwards;
}
@keyframes demo2-1-close{
	from { transform-origin: 0 0; transform: rotate(40deg) translate(2px,-23px); }
    to 	 { transform-origin: 0 0; transform: rotate(0deg) translate(0,0); }
}
@keyframes demo2-2-close{
	from  { width: 8px; opacity: 0;transform: translateX(50px); }
	to	  { width:100px;  opacity: 1; }
}
@keyframes demo2-3-close{
	from { transform-origin: 0 0; transform: rotate(-40deg) translate(-4px,19px); }
    to 	 { transform-origin: 0 0; transform: rotate(0deg) translate(0,0); }
}

/*================== demo3 样式 ==================*/
/* #demo3.open i:nth-child(1){
	transform: translateY(15px);
}
#demo3.open i:nth-child(2){
}
#demo3.open i:nth-child(3){
	transform: translateY(-15px);
} */

/*================== demo4 样式 ==================*/
#demo4.open div.menu::after,#demo4.close div.menu::after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 130px;
	height: 130px;
	background: transparent;
	border-radius: 100%;
	border-style: solid;
	border-width: 5px;
}
#demo4.open div.menu::after{
	border-color: transparent;
	animation: demo4-open-menu-circle 1s forwards; 
}
#demo4.open i:nth-child(1){
	opacity: 0;
	width: 8px;
	transform-origin: center center;
	transform: translate(-30px,-15px) rotate(40deg);
	animation: demo4-1-open 1.3s forwards;
}
#demo4.open i:nth-child(2){
	animation: demo4-2-open 0.2s forwards;
}
#demo4.open i:nth-child(3){
	opacity: 0;
	width: 8px;
	transform-origin: center center;
	transform: translate(40px,-45px) rotate(-40deg);
	animation: demo4-3-open 1.3s forwards;
}
@keyframes demo4-open-menu-circle {
	0% {
		border-color: transparent;
		transform: rotate(0deg);
	}
	20%	{
		border-color: transparent #fff transparent transparent;
		transform: rotate(-35deg);
	}
	50%	{
		border-color: transparent #fff #fff transparent;
	}
	75% {
		border-color: transparent #fff #fff #fff;
	}
	100% {
		border-color: #fff;
		transform: rotate(-300deg);
	}
}
@keyframes demo4-1-open{
	from { width: 8px;  opacity: 1; }
	to { width: 100px; opacity: 1; transform-origin: center center; transform: translate(5px,15px) rotate(40deg); }
}
@keyframes demo4-2-open{
	from { width: 100px; }
	to { width: 8px; transform: translateX(80px); opacity: 0; }
}
@keyframes demo4-3-open{
	from { width: 8px;  opacity: 1; }
	to { width: 100px; opacity: 1; transform-origin: center center; transform: translate(5px,-15px) rotate(-40deg); }
}
#demo4.close div.menu::after{
	border-color: #fff;
	animation: demo4-close-menu-circle 1s forwards; 
}
#demo4.close i:nth-child(2){
	width: 8px;
	transform: translateX(80px);
	opacity: 0;
	animation: demo4-2-close 1s forwards; 
}
@keyframes demo4-close-menu-circle {
	0% {
		transform: rotate(0deg);
	}
	20% {
		border-color: transparent #fff #fff #fff;
		transform: rotate(35deg);
	}
	50%	{
		border-color: transparent #fff #fff transparent;
		
	}
	75% {
		border-color: transparent #fff transparent transparent;
	}
	100% {
		border-color: transparent;
		transform: rotate(300deg);
	}
}
@keyframes demo4-2-close{
	from { width: 8px; }
	to { width: 100px; transform: translateX(0); opacity: 1; }
}
