* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
#wrap,
.page {
    width: 100%;
    height: 100%;
    background-color: #494A5F;
    color: #D5D6E2;
    font-weight: 500;
    font-size: 1.05em;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
    overflow: hidden;
}

ul {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    list-style: none;
    margin: auto;
    width: 8%;
    height: 360px;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
}

a.icon {
    display: block;
    padding: 20px;
    font-size: 32px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out !important;
    -moz-transition: all 0.5s ease-out !important;
    -o-transition: all 0.5s ease-out !important;
    transition: all 0.5s ease-out !important;
}

a.icon:hover,
a.icon:focus,
a.icon:active {
    color: #74777b;
}

.page {
    position: absolute;
    left: 200%;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
}

#p1 {
    left: 0;
    background: darkslateblue;
}

#p2 {
    background: tomato;
}

#p3 {
    background: gold;
}

#p4 {
    background: deeppink;
}

#p5 {
    background: #9b59b6;
}

div#t2:target div#p1,
div#t3:target div#p1,
div#t4:target div#p1,
div#t5:target div#p1 {
    background: black;
}

div#t2:target div#p2,
div#t3:target div#p3,
div#t4:target div#p4,
div#t5:target div#p5 {
    -webkit-transform: translateX(-192%);
    -moz-transform: translateX(-192%);
    -o-transform: translate(-192%);
    transform: translateX(-192%);
    -webkit-transition: 0.2s !important;
    -moz-transition-delay: 0.2s !important;
    -o-transition-delay: 0.2 !important;
    transition-delay: 0.2s !important;
}

div#t3:target ul .icon,
div#t2:target ul .icon,
div#t4:target ul .icon,
div#t5:target ul .icon {
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    -o-transform: scale(.6);
    transform: scale(.6);
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}